body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    height: -150px;
    margin-top: 150px;
    overflow: auto;
    background: linear-gradient(315deg, #44B09E 0%, #E0D2C7 100%); /* Brighter teal gradient */
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

/* ... (rest of your existing styles) */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 30s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 45s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 60s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*** --- Header --- ***/
header {
    position: fixed;
    top: 0; /* Fixed position at the top of the viewport */
    width: 100%;
    background: #a1d6d2;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header:hover {
    background-color: #80CBC4; /* Adjust the background color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Adjust the box-shadow on hover */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 1.5%; /* Adjust the spacing between each item */
    position: relative;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #009688;
}

/* Cool Animation */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 8px;
    right: 0;
    background: #009688;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    background: #009688;
}

/*** --- About me --- ***/
/*- Profile Picture-*/
.profile-photo {
    flex: 0 0 auto;
    margin-right: 30px; /* Adjust the margin as needed */
    position: relative; /* Make the profile photo relative to its container */
}

/*** --- About me --- ***/
#about-me {
    animation: slideUp 1s ease-in-out;
    text-align: center;
}

#about-me .dialogue-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*- Dialogue-*/
#about-me .dialogue-box {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    font-size: 1.2em;
    position: relative;
    width: 250px;
}

#about-me .dialogue-box::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -0px;
    transform: rotate(-90deg);
    border-width: 20px 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #009688;
}

#about-me img {
    width: 270px; /* Adjust the image size as needed */
    height: 270px; /* Adjust the image size as needed */
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #009688; /* Add a border with the color of your choice */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for a lifted effect */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition for hover effect */
}

#about-me img:hover {
    transform: scale(1.1) rotate(30deg); /* Rotate the image 360 degrees on hover */
    border: 5px solid #00766c; 
    box-shadow: 0 8px 16px rgba(249, 168, 37, 0.4), 0 0 30px rgba(249, 168, 37, 0.3); /* Adjust the box-shadow to create a light shining effect on hover */
}

.dialogue-container {
    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*** --- General Styling --- ***/
section {
    padding: 50px 20px;
    background-color: rgba(245, 245, 245, 0.3); /* Lighter background color for glossiness */
    animation: slideUp 1s ease-in-out;
    max-width: 70%;
    min-width: 30%;
    margin: 0 auto 100px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) brightness(110%); /* Increase brightness for a glossy effect */
    scroll-margin-top: 150px;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        319deg,
        #aed9c2 0%,     
        #c5f4e0 40%,    
        #EDF1F4 100%
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

section:hover::before {
    opacity: 1;
}



@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #009688;
    margin: 0;
}

p {
    text-align: center;
    color: #555;
    font-size: 1.1em;
    max-width: 80%;
    margin: 0 auto;
}



a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    color: #00766c;
}

footer {
    background: #b2dfdb;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.social-links {
    margin-top: 10px;
}

.social {
    margin: 0 10px;
}

.social img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social img:hover {
    transform: scale(1.2);
}

/*** --- Timeline --- ***/
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 90%;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #333; /* Updated color */
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: #009688; /* Updated color */
    border-radius: 50%;
    box-shadow: 0 0 0 3px #009688; /* Updated color */
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: #009688; /* Updated color */
    border-radius: 50%;
    box-shadow: 0 0 0 3px #009688; /* Updated color */
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: #009688; /* Updated color */
    font-weight: 600;
}



.timeline ul li:nth-child(odd) p {
    text-align: right;
    max-width: 100%;
}

.timeline ul li:nth-child(even) p {
    text-align: left;
    max-width: 100%;
}

.timeline ul li h4 {
    margin-block-start: 7px;
    margin-block-end: 5px;
}

.timeline ul li .time h4 {
    white-space: nowrap; /* Added property to prevent line breaks */
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -220px;
    margin: 0;
    padding: 8px 16px;
    background: #009688; /* Updated color */
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #009688; /* Updated color */
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -220px;
    margin: 0;
    padding: 8px 16px;
    background: #009688; /* Updated color */
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #009688; /* Updated color */
}

@media (max-width: 1000px) {
    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .timeline:before {
        left: 20px;
        height: 100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}

/*** --- Resume --- ***/
.resume-box {
    text-align: center;
    background: #009688; /* Background color */
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    transition: box-shadow 0.3s ease; /* Smooth box-shadow transition on hover */
    cursor: pointer;
    max-width: 200px; /* Adjust the maximum width as needed */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Subtle box-shadow effect */
}

.resume-box a {
    text-decoration: none;
    color: #fff; /* Text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Enhanced box-shadow effect on hover */
}

.resume-box img {
    width: 50px; /* Adjust the width as needed */
}

.resume-box p {
    margin: 5px 0 0;
    font-weight: bold;
    color: #fff;
}

/*** --- Contact --- ***/

#contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.3s ease; /* Smooth box-shadow transition on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Subtle box-shadow effect */
}

button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Enhanced box-shadow effect on hover */
}


/* Card */
#projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    gap: 40px; /* Increased gap between cards */
    justify-items: center;
    justify-content: center;
    width: 70%;
    margin: 40px auto; /* Added margin on top and bottom of the container */
}

#projects .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 24em;
    padding: 2em 0;
    background: #eceff1; /* Adjust the background color as needed */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.35s ease;
    margin-top: 40px; /* Added margin on top of each card */
    
}

#projects .card::before,
#projects .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #009688; /* Adjust the color as needed */
    height: 4px;
}

#projects .card::before {
    width: 0;
    opacity: 0;
    transition: opacity 0s ease, width 0s ease;
    transition-delay: 0.5s;
}

#projects .card::after {
    width: 100%;
    background: #eceff1; /* Adjust the background color to match the card */
    transition: width 0.5s ease;
}

#projects .card .content {
    width: 20em;
    max-width: 100%;
}

#projects .card .logo {
    margin: 0 0 1em;
    width: 10.625em;
    transition: all 0.35s ease;
}

#projects .card h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}


#projects .card h4 {
    color: #009688; /* Adjust the color as needed */
    font-weight: 600;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}

#projects .card .hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.55s ease;
}

#projects .card .hover_content p {
    margin: 1.5em 0 0;
    color: #555; /* Adjust the color as needed */
    line-height: 1.4em;
    max-width: 100%;
}

#projects .card:hover {
    width: 24em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

#projects .card:hover::before {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    transition-delay: 0s;
}

#projects .card:hover::after {
    width: 0;
    opacity: 0;
    transition: width 0s ease;
}

#projects .card:hover .logo {
    margin-bottom: 0.5em;
}

#projects .card:hover .hover_content {
    max-height: 300px; /* Adjust the value accordingly */
    transition: all 1s ease;
    transform: none;
}

#projects .card .hover_content .clickable-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#projects .card .hover_content .box {
    display: inline-block;
    padding: 10px 0; /* Adjust top and bottom padding as needed */
    width: 30%; /* Adjust the width as needed */
    text-align: center;
    background-color: #009688; /* Adjust the color as needed */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#projects .card .hover_content .box:hover {
    background-color: #00796b; /* Adjust the hover color as needed */
}

#projects .card .hover_content .box i {
    margin-right: 5px; /* Adjust the spacing between icon and text */
  }

/* Add styles for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal iframe {
    width: 50%;
    height: 50%;
    margin: 10% auto;
    display: block;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Add an animation effect to the modal */
  @keyframes modalFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the modal */
  .modal {
    animation: modalFade 0.5s;
  }  

  .video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  max-width: 800px; /* Adjust the width as needed */
  margin: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

  
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40vh;
    margin: auto;
  }
  
  .item {
    flex: 1;
    height: 100%;
    overflow: hidden;
    transition: flex 0.8s ease;
    position: relative;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.8s ease, opacity 0.8s ease; /* Added opacity transition */
  }
  
  .item:hover img {
    transform: scale(1);
    opacity: 1; /* Ensures the hovered image is fully opaque */
  }
  
  /* Apply opacity to non-hovered items when any item is hovered */
  .gallery-wrap:hover .item:not(:hover) img {
    opacity: 0.3; /* You can adjust the opacity value */
  }
  
  .item:hover {
    flex: 7;
  }
  
  